@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@using Microsoft.AspNetCore.Http.Connections

@inject ProtectedLocalStorage sessionStorage
@inject NavigationManager navManager
@inject IJSRuntime jsRuntime

<TelerikRootComponent>
    <CascadingValue Value="@this">
        @Body

        @if (Is_Loading == true)
        {
            <div class="modal fade modal-close-out show" tabindex="-1" role="dialog" aria-hidden="true" style="display: block; background-color: rgba(10, 10, 10, .8);">
                <TelerikLoaderContainer Visible="true" Text="" OverlayThemeColor="dark" LoaderType="LoaderType.ConvergingSpinner">
                </TelerikLoaderContainer>
            </div>
        }

    </CascadingValue>
</TelerikRootComponent>

@code {
    public bool Is_Loading { get; set; } = false;

    public void Start_Loading()
    {
        Is_Loading = true;
        StateHasChanged();
    }

    public void Stop_Loading()
    {
        Is_Loading = false;
        StateHasChanged();
    }
}
